
@import "./partials/layout/custom";
@import "~bootstrap/scss/bootstrap";

// LAYOUT
@import "./partials/layout/navbar";
@import "./partials/layout/typography";
@import "./partials/layout/button";
@import "./partials/layout/social";
@import "./partials/layout/footer";

// HOME
@import "./partials/home/hero";
@import "./partials/home/main";
@import "./partials/home/tabContent";
@import "./partials/home/accContent";

// NEWS
@import "./partials/news/clickBox";
@import "./partials/news/newsCards";

// CONTACT
@import "./partials/contact/contactForm";
@import "./partials/contact/checkbox";
@import "./partials/contact/details";

body {
    background: $bg-radial-primary;
}

.wrapper {
    max-width: 1280px;
    padding: 50px 75px 150px;
    margin: 0 auto;
}

.show {
    display: block !important;
}


@media screen and (max-width: 991px) {
    .wrapper {
        padding-left: 0;
        padding-right: 0;
        width: 90%;
    }
}