.hero img{
    width: 100%;
    max-height: 462px;
    object-fit: cover;
}

.carousel-indicators li {
    background: white;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    opacity: 1;
    border-radius: 2px;
}

.carousel-indicators li.active {
    background: $color-primary;
}

@media screen and (max-width: 991px) {
    .hero img {
        min-height: 287px;
    }
}


