.hero img{
    width: 100%;
}

.caro-image {
    margin: 0 auto;
    min-height: 415px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-position: center top !important;
}

.carousel-indicators li {
    background: white;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    opacity: 1;
    border-radius: 2px;
}

.carousel-indicators li.active {
    background: $color-primary;
}




