.intro { 
    margin-bottom: 80px;
}

.tab-content {
    background: white;
    padding: 50px 60px 80px;
    border-radius: 10px;
    min-height: 150px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.05);
    outline: transparent;
    margin-top: -8px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: $color-grey;
    background: white;
    border: none;
}

.nav-tabs .nav-link {
    color: $color-primary;
    padding: 20px 45px;
    border-radius: 10px 10px 0 0;
    font-size: 19px;
    outline: none;
}



